.layout-wrapper { 
    display: flex; 
    flex-direction: column; 
    height: 100vh; 
}

    
.layout-body { 
    display: flex; 
    flex: 1; 
    overflow: hidden; 
}
    
.layout-sidebar { 
    width: 250px; 
    border-right: 1px solid #dee2e6; 
    overflow-y: auto; 
}
    
.layout-content { 
    flex: 1; 
    padding: 2rem; 
    overflow-y: auto; 
    background-color: #f8f9fa; 
}
    
:host ::ng-deep .topbar-custom { 
    background-color: var(--p-primary-color); 
    border-radius: 0; padding: 0.5rem 1.5rem; 
}